<form class="login" method="post" action="/login">
  {{ antiforgery }}
  {{ if return_url }}<input type="hidden" name="ReturnUrl" value="{{ return_url | html.escape }}">{{ end }}
  <h1>{{ t.login.title }}</h1>
  {{ if error }}<p class="error">{{ error | html.escape }}</p>{{ end }}
  <label>{{ t.login.login }} <input name="login" autofocus autocomplete="username"></label>
  <label>{{ t.login.password }} <input type="password" name="password" autocomplete="current-password"></label>
  <button type="submit">{{ t.login.submit }}</button>
</form>
{{ if registration_open }}
<p class="login-register"><a href="/register">{{ t.login.register }}</a></p>
{{ end }}
