{{ for folder in $node.folders }}
<details class="nav-folder" data-path="{{ folder.path | html.escape }}"{{ if folder.has_current }} open{{ end }}>
  <summary>{{ folder.name | html.escape }}</summary>
  {{ include 'nav-node' node: folder }}
</details>
{{ end }}
<ul class="nav-articles">
  {{ for article in $node.articles }}
  <li>{{ if article.as_link }}<a href="/{{ article.slug | html.escape }}"{{ if article.is_current }} aria-current="page"{{ end }}{{ if !article.is_shared }} class="nav-private"{{ end }}>{{ article.title | html.escape }}</a>{{ else }}<span class="nav-closed">{{ article.title | html.escape }}</span>{{ end }}</li>
  {{ end }}
</ul>
